<form class="formX" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div>
      <label for="name">Labelname</label>
      <input type="text" id="name" name="Labelname" ngModel required>
    </div>
  
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" ngModel required email>
    </div>
  
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" name="age" ngModel min="18">
    </div>
  
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>


